@import "variables";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

.title {
    font-family: $roboto;
    font-weight: 900;
    color: $fuxia;
}