$fuxia: #CA38ED;
$pink: #E487FB;
$purple: #3E1149;
$darkGray: #574E5A;
$gray: #BCB1BF;
$black: #1E1E1E;

$popins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$theme-colors: (
  "fuxia": $fuxia,
  "pink": $pink,
  "purple": $purple,
  "darkGray": $darkGray,
  "gray": $gray,
  "black": $black
);